version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      TELEGRAM_BOT_TOKEN: 7919496551:AAEg-Ca-AZX0wktKo0AZKpSa1pr_Dj0jIwo
      TELEGRAM_CHAT_ID: 1357980587
      LINK_PREFIX: http://13.214.77.124
    volumes:
      - ./backend/log.txt:/app/log.txt
    restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
